%div.main
  %div.container
    = image_tag("/assets/steelos-hi.jpg", class: 'landing_img')
  %div.main_footer
  = link_to image_tag('/assets/S.png', class: 's_img'), root_url
  %div.text_container
    %span.main_text
      The new kingdom of style.
    %br
    %span.minor_text
      The designers dream place to open an online boutique, and the trendsetters secret go-to store.
  %div.input_box
    = form_for(@signup, remote: true) do |f|
      .send_tweet
        = link_to 'Tweet this', 'http://twitter.com/intent/tweet?text=I+just+reserved+my+username+for+&url=http%3A%2F%2Fsteelos.com&via=steelos&related=steelos'
      .blank_section
        = f.label "Toss us your email address and we'll keep you posted on our launch.", class: 'signup_email_label'
        .email_field
          = f.text_field :email, class: 'email_input_field', placeholder: 'email@example.com'
          = f.submit 'Submit', class: 'mail_icon'

      %label.claim_username_label_temp
        %input.claim_username{type: 'checkbox'}
        Want to reserve a username?

      .email_entered_section
        = f.text_field :username
        = f.label "Give us a tweet and the username is yours", class: 'signup_username_label'
        = f.label "That username is already claimed!", class: 'signup_username_error'
        = f.submit "Submit", class: 'signup_username_submit'

      .thankyou Thank you for your submission. We'll email you when we're ready!
